* {
    margin: 0;
    padding: 0;

}

body {
    padding-bottom: 50px;

}
.form {
    display: flex;
    justify-content: center;
    justify-items: center;
    width: 100%;
}
.form-box {
    border-radius: 25px;
    width: 1097px;
    height: 720px;
    margin: 87px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 10px #888888;
    background: linear-gradient(rgba(250, 235, 215), rgba(253, 253, 253, 0.7)), url(blood.png);
    background-repeat: no-repeat;

}

.input-box {
    padding-left: 2px;
    display: inline;
    height: fit-content;
    width: 78%;

}

.input-box p {
    padding-bottom: 42px;
    display: flex;
    font-size: 35px;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    width: 108%;
}

.row-1 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    gap: 120px;

}
.row-2 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;    
    gap: 120px;

}
.row-3 {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    gap: 120px;

}
.row-4 {
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    gap: 120px;
  

}





.input-box .form-group {
    
    width: 50%;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.field {
    background-color: white;
    height: 37px;
    border: none;
    width: 386px;
    border: 1px solid black;
    border-radius: 5px;
}


.blood .field {
    
    display: inline;
    border: 1px solid black;
    margin-bottom: 20px;
    height: 37px;
    width: 397px;
}

.form-group,
.gender,
select {

    width: 40%;
}

.navbar {
    padding-bottom: 9px;
}

.container {
    padding-left: 86px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.submit{
    display: flex;
    justify-content: center;
    padding-top: 50px;

}
.submit-button{
    font-size: 15px;
    border-style: none;
    color: white;
    background-color: #B12A21;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
    width: 162px;
    height: 40px;

}


  .is-submited {
    background-color:  #B12A21;
    color: rgb(255, 255, 255);
  }
