 
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.full{
    display: flex;
    place-items: center;
} 

.form{
    width: 400px;
    height: 500px;
    padding-left: 120px;   

}

.contactus{
    font-size: 36px;
    color: #B12A21;
    font-weight:bold;

}

.Name,.email,.message{
    padding-bottom: 10px;
    font-size: 25px;
    padding-top: 10px;  
}

#Name,#email,#message{
    margin-bottom: 12px;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 20px;

} 

.submit{
    margin-top: 30px;
    margin-left: 45px;
    font-size: large;
    align-items: center;
    font-size: 18px;
    border-style: none;
    color: white;
    background-color: #B12A21;
    font-weight: bold;
    border-radius: 35px;
    cursor: pointer;
    width: 202px;
    height: 56px;
}
#navbar {
   
    overflow: hidden;
    padding: 20px;
    text-align: center;
}

#navbar li {
    display: inline-block;
    margin: 0 20px;
}

.image {
    float: left;
    
}
.inside{
    background-color: aliceblue;
}

.image img {
    max-height: 50px; /* Adjust the height as needed */
    padding: 20px 20px;
}


#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
}


#navbar a:hover {
    color: red;
    text-decoration: underline;
}

#navbar a:hover::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 50%;
    height: 1px;
    background-color: red;
  
}
.update-container {
    background-color: blanchedalmond;
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
}

.update-container .title {
    position: absolute;
    background-color: #B12A21;
    height: 45px;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: white;
    font-weight: 500;
    z-index: 200;
}

.update-container ul {
    display: flex;
    list-style: none;
    margin: 0;
    transform: translateX(-1709px);
    animation: scroll 22s infinite linear;
}

.update-container ul li {
    white-space: nowrap;
    padding: 10px 24px;
    color: #000000;
    position: relative;
}

.update-container ul li::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #B12A21;
    position: absolute;
    top: 0;
    right: 0;

}

.update-container ul li:last-child::after {
    display: none;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-1709px);
    }
}
