*{
    font-family: "Poppins", sans-serif;
}
#grad{
    background-image: linear-gradient(to top,#331111,#981919);
}
.title{
    color: white;
    text-align: center;
}
img{
    width: 81%;
    border-radius: 45px;
    transition: 1s;
    box-shadow: 4px 2px 5px 1px cornsilk;
}
img:hover{
    transform: scale(1.3);
    z-index: 2;
    box-shadow: 4px 2px 5px 5px cornsilk;
}
.first-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}
.second-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}