* {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincontainer {
    display: flex;
    justify-content: center;
    
}

.leftcontainer img {
    max-width: 100%;
    height: 99vh;
    margin-left: -40%;
}

.rightcontainer {
    margin-left: -10%;
    margin-top:5% ;
}
.rightcontainer img {
   
 
    margin-bottom: 5%;
}

.form {
    border: 1px solid black;
    width: 500px;
    
    padding: 20px;
    place-content: center;

}

h1 {
    text-align: center;
    color: #B12A21;
}

.form-group {
    
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 3px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #D9D9D9;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.error {
    color: red;
    font-size: 14px;
}
button{
  align-items: center;
}
.submit{
    margin-left: 130px;
}
#submitButton {
    background-color: #B12A21;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 50%;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    justify-content: center;
}
